@import 'tailwindcss';

body {
  background-color: #fafafa;
  font-family: 'Arial', sans-serif;
}

input,
select,
button {
  transition: all 0.2s ease-in-out;
}

input:focus,
select:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0077b6;
}

button {
  padding: 12px 20px;
  font-size: 1rem;
}
